
#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
  background-color: yellow;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float:none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.first_row{
	text-align: center;
}
hr.style {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 650px;
}
hr.style:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}