.navbar-nav
{
 padding-left: 200px;
 margin-right: 250px;
}
.navbar-nav a
{
 margin-left: 40px;
 padding-left: 40px;
 padding-right: 40px;
}
.first_row{
	text-align: center;
}
hr.style {
	width: 650px;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;

}
hr.style:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.2em;
    padding: 0 0.25em;
    background: white;
}

.btn-primary{
    color: white;
    background: #343a40;
    border-color: white;
}
.btn-primary:hover{
        color: #343a40;
    background: white;
    border-color: white;
}
.card{
    margin-left: 440px;
}
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    background-color: #343a40;
    font-size: 10px;
}